<mat-toolbar class="tituloModal row">
  <span class="fuente col-md-11">Detalle Venta</span>
  <span class="espacioModal"></span>
  <span class="espacioModal"></span>
    <button mat-icon-button matTooltip="Cerrar" (click)="regresar()">
      <mat-icon class="fuente col-md-1">reply</mat-icon>
    </button>
</mat-toolbar>


<div class="mat-elevation-z8" style="padding:1% ;" >
  <mat-label>El importe es: {{importe}}</mat-label><br>
  <mat-label>La cantidad de productos son: {{cantidad}}</mat-label><br>
  <mat-label>la fecha: {{fecha|date:'dd/MM/yyyy'}}</mat-label><br>

</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <td>Producto</td>
        <td>Cantidad</td>
        <td>importe</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of subVentas">
        <td>{{item.productoDescripcion}}</td>
        <td>{{item.cantidad}}</td>
        <td>{{item.importe}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Total</td>
        <td colspan="1">${{importe}}</td>
      </tr>

    </tfoot>

  </table>
</div>
