
<h2>Ejemplo de un punto de venta</h2>
<div>
  <label>Julián Lara</label><br>
  <label>julian_lara143@hotmail.com</label>
</div>
<p>Examen para la vacante de desarrollador .Net</p>


<div style="border:solid 1px; width: 50%; margin-left:25%; padding-bottom: 2%; padding-top: 2%;" class="row" >
  <h1 class="text-center col-md-12">Login</h1>
  <form [formGroup]="forma" id="formaProducto" (submit)="guardar()" class="col-md-12 row">
      <mat-form-field appearance="outline" class="col-md-12">
        <input matInput placeholder="Usuario" formControlName="nombreUsuario">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-12">
        <input matInput placeholder="contrasena" type="password" formControlName="contrasena">
      </mat-form-field>
  </form>

  <div align="end" class="col-md-12">
    <button class="btn btn-success col-md-4" #formaProducto (click)="guardar()">Asginar usuario</button>
  </div>
</div>
